
// Header Buttons -------------------------
// ----------------------------------------

#nav,
#support .inner,
#contact .inner {
    @include sizing($padding: 7px 0);
}
// Nav
.inner-nav {
    display: inline-block;
    @include sizing($height: 100%, $padding: 3px 15px, $margin: 0 0 0 20px);
    @include borders($border: none, $border-radius: 4px);
    .nav-bars {
        @include sizing($height: .1875rem, $width: 2.0625rem, $margin: 5px auto 0 auto);
    }
    small {
        font-size: .75rem;
    }
}

// Contact
#contact {
    .fa-phone-volume {
        color: $theme-colour;
        font-size: 2rem;
    }
    .fa-paper-plane,
    span {
        display: none; 
    }
}

// Support
#support {
    display: none;
}

// Search Bars
#search-container {
    @include sizing($width: 100%);
}
#search-bar {
    display: none;
    @include sizing($margin: 10px 0 0 0);
    div.search-bar,
    div.search-btn {
        @include sizing($height: 100%);
        input,
        button {
            @include sizing($height: 100%, $width: 100%);
            @include borders($border: 1px solid #999aa2);
        }
        input {
            font-size: $xs-font;
        }
    }
    div.search-bar {
        float: left;
    }
    div.search-btn {
        float: right;
        button {
            font-size: $l-font;
        }
    }
}
.hide-bar {
    display: inline-block;
    height: 100%;
    width: 75%;
}
#first-search-bar {
    @include sizing($height: 5vh, $width: 100%, $margin: 10px 0 0 0);
    @include borders($border-radius: 4px);
    div {
        @include sizing($height: 100%);
        input,
        button {
            @include sizing($height: 100%, $width: 100%);
            @include borders($border: none);
        }
        input {
            padding: 5px 15px;
        }
    }
    div.first-search-bar {
        @include sizing($width: 90%);
        float: left;
    }
    div.first-search-btn {
        @include sizing($width: 10%);
        color: #333645;
        font-size: 1.5rem;
        float: right;
    }
}