
// Header Layout --------------------------
// ----------------------------------------
header {
    padding: 20px 15px;
}
.flex-header {
    @include flexy($wrap: nowrap, $just: space-between);
    flex: 1;
    @include sizing($width: 100%);
    #header-logo {
        @include sizing($margin: 0 auto 0 0);
    }
    .header-left {
        min-width: 0ch;
        img {
            width: 100%;
        }
    }
    .header-right {
        @include flexy($wrap: nowrap, $just: flex-end);
    }
}