
// Navigation Styles ----------------------
// ----------------------------------------

.navigation-container {
    background: $theme-colour;
    .web .logo {
        color: $web-training-colour;
    }
    .support .logo {
        color: $it-support-colour;
    }
    .telecoms .logo {
        color: $telecom-colour;
    }
    .bespoke .logo {
        color: $bespoke-colour;
    }
    .marketing .logo {
        color: $marketing-colour;
    }
    .cyber .logo {
        color: $cyber-colour;
    }
    a {
        border-left: 1px solid $d-theme;
        border-right: 1px solid $l-theme;
        color: $main-colour;
    }

    // HOVER STATES
    .web:hover {
        @include colours($background: $web-training-colour);
        border-right: 1px solid $web-training-colour;
        border-left: 1px solid $web-training-colour;
        .logo {
            @include colours($colour: $main-colour);
        }
    }
    .support:hover {
        @include colours($background: $it-support-colour);
        border-right: 1px solid $it-support-colour;
        border-left: 1px solid $it-support-colour;
        .logo {
            @include colours($colour: $main-colour);
        }
    }
    .telecoms:hover {
        @include colours($background: $telecom-colour);
        border-right: 1px solid $telecom-colour;
        border-left: 1px solid $telecom-colour;
        .logo {
            @include colours($colour: $main-colour);
        }
    }
    .bespoke:hover {
        @include colours($background: $bespoke-colour);
        border-right: 1px solid $bespoke-colour;
        border-left: 1px solid $bespoke-colour;
        .logo {
            @include colours($colour: $main-colour);
        }
    }
    .marketing:hover {
        @include colours($background: $marketing-colour);
        border-right: 1px solid $marketing-colour;
        border-left: 1px solid $marketing-colour;
        .logo {
            @include colours($colour: $main-colour);
        }
    }
    .cyber:hover {
        @include colours($background: $cyber-colour);
        border-right: 1px solid $cyber-colour;
        border-left: 1px solid $cyber-colour;
        .logo {
            @include colours($colour: $main-colour);
        }
    }
    // HOVER DROPDOWN
    .web:hover div.lower-web {
        @include nav-hover($background: darken($web-training-colour, 10%));
    }
    .support:hover div.lower-support {
        @include nav-hover($background: darken($it-support-colour, 10%));
    }
    .telecoms:hover div.lower-telecoms {
        @include nav-hover($background: darken($telecom-colour, 10%));
    }
    .bespoke:hover div.lower-bespoke {
        @include nav-hover($background: darken($bespoke-colour, 10%));
    }
    .marketing:hover div.lower-marketing {
        @include nav-hover($background: darken($marketing-colour, 10%));
    }
    .cyber:hover div.lower-cyber {
        @include nav-hover($background: darken($cyber-colour, 10%));
    }
}