
// Slider Buttons -------------------------
// ----------------------------------------

.arrow-btn {
    display: inline-block;
    button,
    button * {
        display: inline-block;
        @include sizing($margin: auto);
    }
    button {
        i {
            margin: 0 0 0 .75rem;
        }
    }
}
.arrow-btn,
.arrow-btn button {
    @include sizing($min-h: 62px);
}