
// Footer Styles --------------------------
// ----------------------------------------

footer, footer a {
    @include colours($colour: $main-colour);
}
footer {
    @include colours($background: $theme-colour);
    a:hover {
        text-decoration: underline;
    }
    ul {
        font-size: $xxxs-font;
        list-style-type: none;
    }
    h2 {
        font-size: $xs-font;
        font-weight: normal;
    }
    .inner-social {
        a {
            background: darken(#333645, 6%);
            text-align: center;
            padding: 0;
            i {
                font-size: $social-font;
                line-height: 2;
            }
        }
    }
}