// Functions ------------------------------
// ----------------------------------------

@function px-to-pc($target, $context: 1000px) {
    @return ($target / $context) * 100%;
}

@function per-line($items, $gutter) {
    $g-pct: px-to-pc($gutter);
    $g-total: $items * $g-pct; 
    @return (100% / $items) - $g-total;
}

// Apply colours to services and social links.
@each $name, $colour in $services-colours {
    // Navigation Colours
    .navigation-container {
        .#{$name} {
            &:hover {
                background-color: $colour;
                border-right: 1px solid $colour;
                border-left: 1px solid $colour;
                background-color: $colour;
                .logo {
                    color: $main-colour;
                }
                .lower-nav-container {
                    @include nav-hover($background: darken($colour, 10%));
                }
            }
            .logo {
                color: $colour;
            }
        }
    }
    // Side Bar
    .side-upper-container {
        .#{$name} {
            color: $colour;
        }
    }
    // Banner Buttons
    .arrow-btn {
        .#{$name} {
            background-color: $colour;
            color: $main-colour;
        }
    }
    // Services Blocks
    #block-container, .locations {
        .#{$name} {
            &:hover {
                background-color: $colour;
                border: 1px solid $colour;
                .block-btn,
                .block-logo {
                    color: $colour;
                }
            }
            &:hover,
            > .block-logo, .block-btn {
                background: $colour;
            }
        }
    }
}

@each $name, $colour in $social-colours {
    .#{$name}:hover {
        background: $colour;
    }
}