
// Mixins ---------------------------------
// ----------------------------------------

// Flexbox Mixin
@mixin flexy($disp: flex,
             $dir: null,
             $wrap: null,
             $just: null) {
    display: $disp;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;
}
// Measure Mixin
@mixin sizing($height: null,
              $min-h: null,
              $max-h: null,
              $width: null,
              $min-w: null,
              $max-w: null,
              $padding: null,
              $margin: null) {
    height: $height;
    min-height: $min-h;
    max-height: $max-h;
    width: $width;
    min-width: $min-w;
    max-width: $max-w;
    padding: $padding;
    margin: $margin;
}
// Block Colours Mixin
@mixin block-colours($background: null,
                     $colour: null) {
    &:hover {
        border: 1px solid $colour;
    }
    &:hover,
    > .block-logo, .block-btn {
        background: $background;
        .block-btn,
        .block-logo {
            color: $colour;
        }
    }
}
// Border Mixin
@mixin borders($border: null,
               $border-radius: null) {
    border: $border;
    border-radius: $border-radius;
}
// Colours Mixin
@mixin colours($colour: null,
               $background: null) {
    color: $colour;
    background: $background;
}

@mixin nav-hover($background: null,
                 $visibility: visible) {
    visibility: $visibility;
    background: $background;
}