
// Media Queries
// ----------------------------------------

// 768 pixels
@media only screen and (min-width: 768px) {
    // Header
    .flex-header {
        .header-left,
        .header-right {
            justify-content: center;
        }
        #header-logo {
            order: 0;
            @include sizing($width: 345px, $margin: 0 20px 0 0);
            img {
                @include sizing($width: 100%);
            }
        }
        #contact {
            display: none;
        }
        #search-container {
            @include sizing($height: auto, $width: auto, $padding: 7px 0);
        }
        #search-bar {
            display: contents;
            order: 1;
            @include sizing($height: 100%, $margin: 0);
            @include borders($border: 1px solid #999aa2);
            .search-bar {
                @include sizing($width: 100%);
                input {
                    @include sizing($padding: 5px 15px);
                    background: #fff;
                }
            }
            .search-btn {
                @include sizing($width: 25%);
                button {
                    @include colours($colour: $main-colour, $background: #999aa2);
                    &:hover {
                        @include colours($background: darken(#999aa2, 10%));
                    }
                }
            }
        }
        #nav {
            order: 2;
        }
    }
    #first-search-bar {
        display: none;
    }
    // Blocks
    #block-container .row-2 {
        @include flexy($wrap: wrap, $dir: row);
        > * {
            flex: 1 1 per-line(2, 15px);
        }
    }
    // Culture
    .container-culture {
        padding: 0 15px;
    }
    // Cards
    .card-container {
        @include sizing($padding: 0 0 50px 0); 
        > div:nth-child(n+3) {
            display: none;
        }
        @include flexy($dir: row);
        gap: 20px;
        .card {
            flex: 1;
        }
    }

    // Clients
    .clients {
        @include sizing($padding: 50px 0);
        .flex-clients {
            @include flexy($just: space-between);
            div {
                @include sizing($height: 2.8rem, $padding: 0 20px);
            }
        }
    }
    .grayscale {
        filter: grayscale(100%);
        @include sizing($height: 100%);
        &:hover {
            filter: none;
        }
    }
    // Partners
    .partners {
        @include sizing($padding: 50px 0);
        .partners-container {
            @include flexy($wrap: wrap, $just: space-between);
            gap: 20px;
            div {
                @include sizing($height: 88px, $padding: 0 20px);
                flex: 1;
                text-align: center;
                img {
                    height: 100%;
                }
            }
        }
    }
    // Newsletter
    #newsletter-container {
        .news-inner {
            @include sizing($padding: 0 15px);
        }
    }
    // Footer
    footer .inner {
        @include flexy($wrap: wrap);
        div {
            @include sizing($width: 50%);
        }
        .social-grid {
            @include sizing($margin: 0);
            a {
                @include sizing($min-w: 157px);
            }
        }
    }
}

// 992 pixels
@media only screen and (min-width: 992px) {
    .max-width {
        max-width: $m-max-w;
    }
    // Header
    .flex-header {
        .header-left,
        .header-right {
            justify-content: center;
        }
        #header-logo {
            @include sizing($margin: 0 20px 0 0);
        }
        #support,
        #contact,
        #contact .fa-paper-plane,
        #contact span {
            display: contents;
        }
        #support a,
        #contact a {
            display: inline-block;
            @include sizing($height: 100%, $margin: 0 20px 0 0);
            @include colours($colour: #fff);
            .contents {
                position: relative;
                top: 50%;
                transform: translate(0, -50%);
            }
        }
        #support .fa-mouse,
        #contact .fa-paper-plane {
            font-size: 1.5rem;
        }
        #support {
            order: 1;
        }
        #support a {
            @include colours($background: $it-support-colour);
            &:hover {
                @include colours($background: darken($it-support-colour, 10%));
            }
        }

        #contact a {
            @include colours($background: #999aa2);
            &:hover {
                @include colours($background: darken(#999aa2, 10%));
            }
        }
        #contact {
            order: 2;
            .fa-phone-volume {
                display: none;
            }
        }
        #search-bar {
            order: 3;
            .search-btn {
                @include sizing($width: 4rem);
            }
        }
        #nav {
            order: 4;
        }
    }
    .hide-bar {
        display: none;
    }
    // Navigation Bar
    #navigation {
        display: contents;
    }
    // Image Slider
    #img-slider .slide-img-container {
        text-align: left;
    }
    .inner-slide {
        @include sizing($width: 100%, $margin: 0);
    }
    // Blocks
    #block-container .row-1 {
        @include flexy($dir: row);
        > * {
            flex: 1;
        }
    }
    // Cards
    .card-top {
        overflow: hidden;
    }
    .card-top img {
        transition-duration: .4s;
    }
    .card-top:hover img {
        transform: scale(1.1);
    }
    // Culture 
    #our-culture {
        background-image: url('/logos/netmatters-logo.png');
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: auto 100%;
    }
    // Clients
    .flex-clients,
    .flex-clients img {
        @include sizing($height: 3.9rem);
    }
    // Newsletter
    #newsletter-container {
        .name,
        .email {
            display: inline-block;
            @include sizing($width: per-line(2, 4px));
        }
        .email {
            float: right;
        }
    }
}

// 1260 pixels
@media only screen and (min-width: 1260px) {
    .max-width {
        max-width: $l-max-w;
    }
    // Header
    div#search-container {
        display: inline-block;
        width: 300px;
    }
    .hide-bar {
        display: inline-block;
        width: 80%;
    }
    .flex-header #search-bar .search-btn {
        @include sizing($width: 20%);
    }
    // Blocks
    #block-container .row-2 {
        @include flexy($wrap: nowrap);
    }
    // Cards
    .card-container {
        > div:nth-child(n+3) {
            display: contents;
        }
    }
    // Culture
    .inner-culture {
        width: 50%;
    }
    // Clients
    .flex-clients,
    .flex-clients img {
        @include sizing($height: 4.375rem);
    }
    // Footer
    footer .inner {
        flex-wrap: nowrap;
    }
    .social-grid a {
        width: 7.5rem;
    }
}