
// Media Queries
// ----------------------------------------

// 768 pixels
@media only screen and (min-width: 768px) {
    // Header
    .flex-header {
        .header-left,
        .header-right {
            justify-content: center;
        }
        #header-logo {
            order: 0;
            @include sizing($width: 345px, $margin: 0 20px 0 0);
            img {
                @include sizing($width: 100%);
            }
        }
        #contact {
            display: none;
        }
        #search-container {
            @include sizing($height: auto, $width: auto, $padding: 7px 0);
        }
        #search-bar {
            display: contents;
            order: 1;
            @include sizing($height: 100%, $margin: 0);
            @include borders($border: 1px solid #999aa2);
            .search-bar {
                @include sizing($width: 100%);
                input {
                    @include sizing($padding: 5px 15px);
                    background: #fff;
                }
            }
            .search-btn {
                @include sizing($width: 25%);
                button {
                    @include colours($colour: $main-colour, $background: #999aa2);
                    border-radius: 0 3px 3px 0;
                    &:hover {
                        @include colours($background: darken(#999aa2, 10%));
                    }
                }
            }
        }
        #nav {
            order: 2;
        }
    }
    #first-search-bar {
        display: none;
    }
    // Blocks
    #block-container .row-2 {
        @include flexy($wrap: wrap, $dir: row);
        > * {
            flex: 1 1 per-line(2, 15px);
        }
    }
    // Culture
    .container-culture {
        padding: 0 15px;
    }
    // Cards
    .card-container {
        @include sizing($padding: 0 0 50px 0); 
        > div:nth-child(n+3) {
            display: none;
        }
        @include flexy($dir: row);
        gap: 20px;
        .card {
            flex: 1;
        }
    }

    // Clients
    .clients {
        @include sizing($padding: 50px 0);
        .flex-clients {
            @include flexy($just: center);
            position: relative;
            // .busseys {
            //     width: 13rem;
            // }
            .beat {
                width: 47px;
            }
            > div {
                // display: inline-block;
                @include sizing($height: 45px, $padding: 0 20px);
                text-align: center;
                width: min-content;
                flex: 1;
                img {
                    max-height: 100%;
                }
            }
        }
    }
    .client-info,
    .client-info + * {
        visibility: hidden;
    }
    .info-bar {
        display: inline-block;
        width: 33px;
        height: 3px;
        margin: 0 0 5px 0;
        background: $main-colour;
    }
    .client-info {
        display: inline-block;
        bottom: 100%;
        width: 260px;
        padding: 20px;
        margin: 0;
        color: $main-colour;
        text-align: center;
        h3 {
            font-size: $s-font;
            font-weight: normal;
            margin: 0;
        }
        p {
            font-size: $xxxs-font;
            margin: 0;
        }
    }
    .each-client:hover div.client-info {
        visibility: visible;
        background: $theme-colour;
    }
    .grayscale {
        filter: grayscale(100%);
        @include sizing($height: 100%);
        &:hover {
            filter: none;
        }
    }
    // Partners
    .partners {
        @include sizing($padding: 50px 0);
        .partners-container {
            @include flexy($wrap: wrap, $just: space-between);
            gap: 20px;
            div {
                @include sizing($height: 88px, $padding: 0 20px);
                flex: 1;
                text-align: center;
                img {
                    height: 100%;
                }
            }
        }
    }
    // Newsletter
    #newsletter-container {
        .news-inner {
            @include sizing($padding: 0 15px);
        }
    }
    // Footer
    footer .inner {
        @include flexy($wrap: wrap);
        div {
            @include sizing($width: 50%);
        }
        .social-grid {
            @include sizing($margin: 0);
            a {
                @include sizing($min-w: 157px);
            }
        }
    }
}

// 992 pixels
@media only screen and (min-width: 992px) {
    .max-width {
        max-width: $m-max-w;
    }
    // Header
    .flex-header {
        .header-left,
        .header-right {
            justify-content: center;
        }
        #header-logo {
            @include sizing($margin: 0 20px 0 0);
        }
        #support,
        #contact,
        #contact .fa-paper-plane,
        #contact span {
            display: contents;
        }
        #support a,
        #contact a {
            display: inline-block;
            @include sizing($height: 100%, $margin: 0 20px 0 0);
            @include colours($colour: #fff);
            .contents {
                position: relative;
                top: 50%;
                transform: translate(0, -50%);
            }
        }
        #support .fa-mouse,
        #contact .fa-paper-plane {
            font-size: 1.5rem;
        }
        #support {
            order: 1;
        }
        #support a {
            @include colours($background: $it-support-colour);
            &:hover {
                @include colours($background: darken($it-support-colour, 10%));
            }
        }

        #contact a {
            @include colours($background: #999aa2);
            &:hover {
                @include colours($background: darken(#999aa2, 10%));
            }
        }
        #contact {
            order: 2;
            .fa-phone-volume {
                display: none;
            }
        }
        #search-bar {
            order: 3;
            .search-btn {
                @include sizing($width: 4rem);
                button {
                    border-radius: 3px;
                }
            }
        }
        #nav {
            order: 4;
        }
    }
    .hide-bar {
        display: none;
    }
    // Navigation Bar
    #navigation {
        display: contents;
    }
    // Image Slider
    #img-slider .slide-img-container {
        text-align: left;
    }
    .inner-slide {
        @include sizing($width: 100%, $margin: 0);
    }
    // Blocks
    #block-container .row-1 {
        @include flexy($dir: row);
        > * {
            flex: 1;
        }
    }
    // Cards
    .card-top,
    .card {
        overflow: hidden;
    }
    .card-top {
        transition-duration: .4s;
    }
    .card-top:hover {
        transform: scale(1.1);
        img {
            visibility: hidden;
        }
    }
    .card-inner,
    .card-body {
        overflow: hidden;
    }
    #card-1:hover {
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('https://www.netmatters.co.uk/assets/images/thumbnails/thumb/grants-available-for-R76J.jpg');
    }
    #card-2:hover {
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('https://www.netmatters.co.uk/assets/images/thumbnails/thumb/case-study-warren-t8yt.jpg');
    }
    #card-3:hover {
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('https://www.netmatters.co.uk/assets/images/thumbnails/thumb/congratulations-to-samuel-pXTR.jpg');
    }
    // Culture 
    #our-culture {
        background-image: url('../logos/netmatters-logo.png');
        background-repeat: no-repeat;
        background-size: 2100px;
        background-position: 43% 41%;
    }
    // Clients
    .clients .flex-clients > div {
        @include sizing($height: 3.9rem);
    }
    // Newsletter
    #newsletter-container {
        .name,
        .email {
            display: inline-block;
            @include sizing($width: per-line(2, 4px));
        }
        .email {
            float: right;
        }
    }
}

// 1260 pixels
@media only screen and (min-width: 1260px) {
    .max-width {
        max-width: $l-max-w;
    }
    // Header
    .flex-header div#search-container {
        display: inline-block;
        width: 18.9rem;
    }
    .hide-bar {
        display: inline-block;
        width: 79%;
    }
    .flex-header #search-bar .search-btn {
        @include sizing($width: 21%);
        button {
            border-radius: 0 3px 3px 0;
        }
    }
    .lower-nav-container .lower-navigation {
        font-size: $xs-font;
    }
    // Blocks
    #block-container .row-2 {
        @include flexy($wrap: nowrap);
    }
    // Cards
    .card-container {
        > div:nth-child(n+3) {
            display: contents;
        }
    }
    // Culture
    .inner-culture {
        width: 50%;
    }
    // Clients
    .clients .flex-clients > div {
        @include sizing($height: 4.375rem);
    }
    // Footer
    footer .inner {
        flex-wrap: nowrap;
        .social .social-grid {
            grid-template-columns: 150px 150px;
            a {
                min-width: auto;
                width: auto;
            }
        }
    }
}