
// Media Queries
// ----------------------------------------

// 768 pixels
@media only screen and (min-width: 768px) {
    // Cookies Box
    .cookies-box {
        width: 600px;
        min-height: 490px;
        .cookies-btns {
            button {
                display: inline-block;
                width: 264px;
            }
            button:first-child {
                margin: 0;
                background-color: #999aa2;
            }
            button:last-child {
                float: right;
            }
        }
    }
    // Header
    .header-placeholder {
        height: 109px;
    }
    .flex-header {
        .header-left,
        .header-right {
            justify-content: center;
        }
        #header-logo {
            order: 0;
            @include sizing($width: 345px, $margin: 0 20px 0 0);
            img {
                @include sizing($width: 100%);
            }
        }
        #contact {
            display: none;
        }
        #search-container {
            @include sizing($height: auto, $width: 100%, $padding: 27px 0 7px 0);
        }
        #search-bar {
            display: inline-flex;
            order: 1;
            @include sizing($height: 100%, $margin: 0);
            .search-bar {
                @include sizing($width: 100%);
                input {
                    @include borders($border: 1px solid #999aa2, $border-radius: 0);
                    @include sizing($padding: 5px 15px);
                    background: #fff;
                }
            }
            .search-btn {
                @include sizing($width: 25%);
                button {
                    @include colours($colour: $main-colour, $background: #999aa2);
                    border-radius: 0 3px 3px 0;
                    &:hover {
                        @include colours($background: darken(#999aa2, 10%));
                    }
                }
            }
        }
        #nav {
            order: 2;
        }
    }
    #first-search-bar {
        display: none;
    }
    // Slider
    #img-slider,
    .slide-img {
        @include sizing($height: calc(100vh - 109px));
    }
    // Blocks
    #block-container .row-2 {
        @include flexy($wrap: wrap, $dir: row);
        > * {
            width: 47.9%;
        }
        > a:nth-child(2) {
            margin-top: 0;
        }
        > a:nth-child(1),
        > a:nth-child(3) {
            margin-right: 30px;
        }
    }
    // Culture
    .container-culture {
        padding: 0 15px;
    }
    // Cards
    .card-container {
        @include sizing($padding: 0 0 50px 0); 
        > div:nth-child(n+3) {
            display: none;
        }
        @include flexy($dir: row);
        .card {
            flex: 1;
            margin-top: 0;
        }
    }
    #latest-cards .card-container > div:nth-child(n+2) {
        margin: 0 0 0 20px;
    }

    // Clients
    .clients {
        @include sizing($padding: 50px 0);
        box-shadow: inset 0 30px 20px #eee;
        .flex-clients {
            position: relative;
            @include flexy($just: space-between);
            padding: 0 15px;
            > div {
                display: inline-block;
                position: relative;
                @include sizing($height: 45px, $min-w:86px, $max-w: 247.5px, $padding: 0 20px);
                text-align: center;
                background: transparent;
                img {
                    position: relative;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
    .client-info,
    .client-info + * {
        visibility: hidden;
    }
    .info-bar {
        display: inline-block;
        width: 33px;
        height: 3px;
        margin: 0 0 5px 0;
        background: $main-colour;
    }
    .client-info {
        bottom: 210%;
        width: 260px;
        padding: 20px;
        color: $main-colour;
        text-align: center;
        z-index: 2;
        h3 {
            font-size: $s-font;
            font-weight: normal;
            margin: 0;
        }
        p {
            font-size: $xxxs-font;
            margin: 0;
        }
    }
    .client-center {
        position: absolute;
        left: -200%; right: -200%;
        margin: auto;
    }
    .arrow {
        width: 3rem;
        height: 3rem;
        transform: rotate(45deg);
        bottom: 157%;
        z-index: 1;
    }
    .each-client:hover div.client-info,
    .each-client:hover div.arrow {
        visibility: visible;
        background: $theme-colour;
    }
    .each-client,
    .first-row div,
    .second-row div {
        &:hover .grey {
            display: none;
        }
        &:hover .colour-accr,
        &:hover .colour {
            display: inline-block;
        }
    }
    .colour-accr,
    .colour {
        display: none;
    }
    // Partners
    .partners {
        @include sizing($padding: 50px 0);
        .partners-container {
            @include flexy($wrap: wrap);
            padding: 0 15px;
            .first-row,
            .second-row {
                @include flexy($wrap: nowrap);
                @include sizing($width: 100%);
                > div {
                    display: inline-block;
                    padding: 0 20px;
                    text-align: center;
                }
            }
            .first-row {
                height: 82px;
                justify-content: space-between;
                div img {
                    max-width: 100%;
                }
            }
            .second-row {
                height: 66px;
                margin: 20px 0 0 0;
                div {
                    flex: 1;
                    img {
                        width: 100%;
                    }
                    .royal {
                        height: auto;
                    }
                }
            }
        }
    }
    // Newsletter
    #newsletter-container {
        .news-inner {
            @include sizing($padding: 0 15px);
        }
    }
    // Footer
    footer .inner {
        @include flexy($wrap: wrap);
        div {
            @include sizing($width: 50%);
        }
        .website,
        .social {
            margin: 0;
        }
        .social .inner-social {
            @include sizing($margin: 0);
            width: 100%;
        }
    }

    // Contact page
    .hidden-track {
        display: block;
    }
    .locations .row-1 {
        flex-direction: row;
        justify-content:space-between;
        .maps-containers {
            width: 50%;
        }
    }
}

// 992 pixels
@media only screen and (min-width: 992px) {
    .max-width {
        max-width: $m-max-w;
    }
    .overlay-width {
        width: calc(100% - 350px);
    }
    // Side Bar
    .side-menu {
        width: 350px;
        .side-upper-container {
            display: none;
        }    
    }
    .side-bar-shift {
        right: 350px;
    }
    // Header
    .header-placeholder {
        height: 209px;
    }
    .flex-header {
        .header-left,
        .header-right {
            justify-content: center;
        }
        #header-logo {
            @include sizing($margin: 0 20px 0 0);
        }
        #support,
        #contact,
        #contact .fa-paper-plane,
        #contact span {
            display: inline-flex;
        }
        #support a,
        #contact a {
            display: inline-block;
            @include sizing($height: 100%, $margin: 0 20px 0 0);
            @include colours($colour: #fff);
            .contents {
                position: relative;
                top: 50%;
                transform: translate(0, -50%);
            }
        }
        #support .fa-mouse,
        #contact .fa-paper-plane {
            font-size: 1.5rem;
        }
        #support {
            order: 1;
        }
        #support a {
            background-color: map-get($services-colours, "support");
            &:hover {
                background-color: darken(map-get($services-colours, "support"), 10%);
            }
        }

        #contact a {
            @include colours($background: #999aa2);
            &:hover {
                @include colours($background: darken(#999aa2, 10%));
            }
        }
        #contact {
            order: 2;
            .fa-phone-volume {
                display: none;
            }
        }
        #search-container {
            order: 3;
            width: auto;
            .search-btn {
                @include sizing($width: 4rem);
                > button {
                    border-radius: 3px;
                }
            }
        }
        #nav {
            order: 4;
        }
    }
    .hide-bar {
        display: none;
    }
    // Navigation Bar
    #navigation {
        display: flex;
    }
    // Image Slider
    #img-slider .slide-img-container {
        text-align: left;
    }
    .slide-img-container .inner-slide {
        max-width: 970px;
    }
    #img-slider,
    .slide-img {
        @include sizing($height: calc(100vh - 209px));
    }
    .inner-slide {
        @include sizing($width: 100%, $margin: 0);
    }
    // Blocks
    #block-container .row-1 {
        @include flexy($dir: row);
        > * {
            flex: 1;
        }
        > a:nth-child(n+2) {
            margin-left: 30px;
            margin-top: 0;
        }
    }
    #block-container .row-2 > * {
        width: 48.4%;
    }
    // Cards
    .card-top,
    .card {
        overflow: hidden;
    }
    .card-top {
        position: relative;
        transition-duration: .4s;
    }
    .card-top:hover {
        transform: scale(1.1);
        img {
            visibility: hidden;
        }
    }
    .card-inner,
    .card-body {
        overflow: hidden;
    }
    .gradient:hover {
        transition: opacity .4s;
        opacity: .4;
    }
    // Culture 
    #our-culture {
        background-image: url('../logos/branded.png');
        background-repeat: no-repeat;
        background-position: right;
        background-size: auto 100%;
    }
    // Clients
    .clients .flex-clients > div {
        @include sizing($height: 3.9rem, $min-w: 104px, $max-w: 329px);
        .client-info {
            bottom: 180%;
        }
        .arrow {
            bottom: 142%;
        }
    }
    // Partners
    .partners {
        .partners-container {
            .first-row {
                height: 110px;
            }
            .second-row {
                height: 90px;
            }
        }
    }
    // Newsletter
    #newsletter-container {
        .name,
        .email {
            display: inline-block;
            @include sizing($width: per-line(2, 4px));
        }
        .email {
            float: right;
        }
    }

    // Contact page
    .hidden-track, .title-banner, .contact-details, .contact-form, .locations, .contact-det-form {
        .container {
            max-width: $m-max-w;
        }
    }
    .hidden-track {
        box-shadow: 0 2px 10px 10px #eee;
    }
    .title-banner {
        background: $main-colour;
        padding-top: 50px;
        margin: 0;
        .container {
            color: $theme-colour;
            padding: 0 15px;
            h1 {
                margin-bottom: 28px;
            }
        }
    }
    .contact-form {
        .form-section {
            display: flex;
            justify-content: space-between;
            > div {
                display: inline-block;
                width: 50%;
                &:not(:last-child) {
                    margin-right: 30px;
                }
            }
        }
    }
}

// 1260 pixels
@media only screen and (min-width: 1260px) {
    .max-width {
        max-width: $l-max-w;
    }
    // Header
    .flex-header div#search-container {
        display: inline-block;
        width: 18.9rem;
    }
    .hide-bar {
        display: inline-block;
        width: 79%;
    }
    .flex-header #search-container #search-bar{
        width: 100%;
        .search-btn {
            @include sizing($width: 21%);
            > button {  
                border-radius: 0 3px 3px 0;
            }
        }
    }
    .lower-nav-container .lower-navigation {
        font-size: $xs-font;
        line-height: 3;
    }
    #navigation .inner-container {
        max-width: 1170px;
    }
    // Slider
    .slide-img-container .inner-slide {
        max-width: 1200px;
    }

    // Blocks
    #block-container .row-2 {
        @include flexy($wrap: nowrap);
        > a:nth-child(1) {
            margin: 0;
        }
        > a:nth-child(n+2) {
            margin: 0 0 0 30px;
        }
    }
    // Cards
    .card-container {
        > div:nth-child(n+3) {
            display: inline-flex;
        }
    }
    // Culture
    .inner-culture {
        width: 50%;
        padding: 0 15px 0 0;
    }
    // Clients
    .clients .flex-clients > div {
        @include sizing($height: 4.375rem);
        .client-info {
            bottom: 171%;
        }
        .arrow {
            bottom: 136.5%;
        }
    }
    // Partners
    .partners {
        .partners-container {
            .first-row {
                height: 88px;
            }
            .second-row {
                height: 58px;
                div img {
                    height: 100%;
                    width: auto;
                }
            }
        }
    }
    // Footer
    footer .inner {
        flex-wrap: nowrap;
        > div:not(#social) {
            margin: 0;
        }
    }

    // Contact page
    .hidden-track, .title-banner, .contact-details, .contact-form, .locations, .contact-det-form {
        .container {
            max-width: $l-max-w;
        }
    }
    .contact-det-form .container {
        display: flex;
        flex-flow: row-reverse;
        .contact-details {
            width: 400px;
        }
        .contact-form {
            max-width: 800px;
        }
    }
}