
// Variables
$font: 'Poppins', sans-serif;

$theme-colour: #333645;
$l-theme: lighten(#333645, 10);
$d-theme: darken(#333645, 10);
$main-colour: #fff;
$body-colour: rgb(245, 245, 245);

$bespoke-colour: #67809f;
$it-support-colour: #4183d7;
$marketing-colour: #2ecc71;
$telecom-colour: #d64541;
$web-training-colour: #926fb1; 
$cyber-colour: #f62459;

$facebook-colour: #3b5998;
$twitter-colour: #00aced;
$linked-in-colour: #0077b5;

$max-width: 100%;
$s-max-w: 750px;
$m-max-w: 970px;
$l-max-w: 1200px;