
// Footer Styles --------------------------
// ----------------------------------------

footer, footer a {
    @include colours($colour: $main-colour);
}
footer {
    @include colours($background: $theme-colour);
    a:hover {
        text-decoration: underline;
    }
    ul {
        font-size: $xxxs-font;
        list-style-type: none;
    }
    h2 {
        font-size: $xs-font;
        font-weight: normal;
    }
    .social-grid {
        #fb-social:hover {
            @include colours($background: $facebook-colour);
        }
        #tw-social:hover {
            @include colours($background: $twitter-colour);
        }
        #li-social:hover {
            @include colours($background: $linked-in-colour);
        }
        a {
            // @include colours($background: #00000040);
            background: darken(#333645, 6%);
            text-align: center;
            font-size: $social-font;
            padding: 0;
            i {
                line-height: 2;
            }
        }
    }
}