
/*-- Cards Layout --------------
---------------------------------------*/

#latest-cards {
    .header-latest,
    .header-latest *,
    ul {
        display: inline-block;
    }
    .shadow-bottom {
        width: 100%;
    }
    .center {
        text-align: center;
    }
    .header-latest {
        @include sizing($width: 100%, $padding: 0 15px);
        text-align: left;
        ul {
            @include sizing($margin: 0, $padding: 0);
            span {
                @include sizing($padding: 34px 0);
                font-weight: 600;
            }
        }
    }
    .card-container {
        @include sizing($padding: 0 0 50px 0);
        .card {
            @include sizing($margin: 30px 0 0 0);
        }
        .card-inner {
            padding: 0 15px;
        }
    }
    .card-footer {
        @include sizing($padding: 20px 0 0 0);
        .net-logo {
            @include sizing($height: 3rem, $width: 3rem);
            float: left;
            img {
                @include sizing($height: 100%);
            }
        }
        ul {
            @include sizing($margin: 0, $padding: 0 0 0 20px);
            li {
                list-style-type: none;
            }
        }
    }
}