
// Card Styles ----------------------------
// ----------------------------------------

.header-latest span {
    font-size: 20px;
    border-bottom: 5px solid $theme-colour;
}
.card {
    background: $main-colour;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.card-footer {
    font-size: .875rem;
    @include borders($border: none);
    background: $main-colour;
    p {
        @include colours($colour: #666);
    }
}
.card-title {
    font-size: 1rem;
}
.card-title:hover {
    text-decoration: underline;
}
.card-text {
    font-size: .8125rem;
}
.news-card {
    h5 {
        color: $marketing-colour;
    }
    .card-btn {
        background: $marketing-colour;
        &:hover {
            background: darken($marketing-colour, 10%);
        }
    }
}
.careers-card {
    h5 {
        color: $it-support-colour;
    }
    .card-btn {
        background: $it-support-colour;
        &:hover {
            background: darken($it-support-colour, 10%);
        }
    }
}