
/*-- Cards Styles --------------
---------------------------------------*/

.header-latest span {
    font-size: 20px;
    border-bottom: 5px solid $theme-colour;
}
.card {
    background: $main-colour;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.card-footer {
    font-size: .875rem;
    @include borders($border: none);
    background: $main-colour;
    p {
        @include colours($colour: #666);
    }
}
.card-title {
    font-size: 1rem;
}
.card-title:hover {
    text-decoration: underline;
}
.card-text {
    font-size: .8125rem;
}
.card-btn {
    background: $web-training-colour;
}