
// Blocks Layout --------------------------
// ----------------------------------------

#block-container  {
    @include flexy($dir: column);
    @include sizing($padding: 50px 15px);
    .row-1 {
        @include flexy($dir: column);
        margin-bottom: 30px;
        > a:nth-child(n+2) {
            margin-top: 30px;
        }
    }
    .row-2 {
        @include flexy($dir: column);
        > a:nth-child(n+2) {
            margin-top: 30px;
        }
    }
    .block {
        @include sizing($padding: 30px);
        // position: relative;
        &-bar,
        &-logo {
            @include sizing($margin: auto auto 17px auto);
        }
        &-bar {
            @include sizing($height: 3px, $width: 28px);
            background: black;
        }
        &-logo {
            @include sizing($height: 60px, $width: 60px);
            border-radius: 50%;
            font-size: 1.5rem;
            .logo {
                position: relative;
                top: 50%;
                transform: translate(0, -50%);
            }
        }
        h5 {
            @include sizing($margin: 0 0 11px 0);
            font-size: $s-font;
            font-weight: normal;
        }
        .block-btn {
            position: relative;
            bottom: 0;
        }
    }
}