
/*-- Blocks Styles --------------------
---------------------------------------*/

#block-container {
    @include colours($background: $body-colour);
    .block {
        @include colours($background: $main-colour);
        @include borders($border: 1px solid #ccc, $border-radius: 3px);
        text-align: center;
        font-size: .8rem;
    }
    .block:hover {
        @include colours($colour: #fff);
        > .logo, button {
            @include colours($background: $main-colour);
        }
    }
    .bespoke {
        @include block-colours($background: $bespoke-colour, $colour: $bespoke-colour);
    }
    .support {
        @include block-colours($background: $it-support-colour, $colour: $it-support-colour);
    }
    .marketing {
        @include block-colours($background: $marketing-colour, $colour: $marketing-colour);
    }
    .telecoms {
        @include block-colours($background: $telecom-colour, $colour: $telecom-colour);
    }
    .web {
        @include block-colours($background: $web-training-colour, $colour: $web-training-colour);
    }
    .cyber {
        @include block-colours($background: $cyber-colour, $colour: $cyber-colour);
    }
    .training {
        @include block-colours($background: $web-training-colour, $colour: $web-training-colour);
    }
}
.block-btn {
    @include borders($border: none, $border-radius: 4px);
    font-size: 1rem;
    @include colours($colour: $main-colour);
}