
/*-- Body Styles ----------------------
---------------------------------------*/
* {
    box-sizing: border-box;
    letter-spacing: .4px;
}

body {
    font-family: $font;
    color: $main-colour;
    @include colours($colour: $theme-colour, $background: $body-colour);
    margin: 0;
}

button,
a,
.card-top {
    cursor: pointer;
}
a,
a:hover {
    text-decoration: none;
}

.max-width {
    max-width: $s-max-w;
    margin: auto;
}

.caps {
    text-transform: uppercase;
}

.shadow-bottom {
    box-shadow: 0 .5rem .5rem darken($main-colour, 10%);
}
.shadow-box {
    box-shadow: 0 .25rem .5rem 0 darken($main-colour, 15%), 0 .4rem 1.25rem 0 darken($main-colour, 15%);
}

.btn {
    display: inline-block;
    font-size: $btn-font;
    color: $main-colour;
    padding: 5px 15px;
    @include borders($border-radius: 4px);
}

/*-- Clients, Partner Layout ----------
---- Navigation -----------------------
---------------------------------------*/

.flex-clients,
.partners-container,
#navigation {
    display: none;
}