
// Navigation Styles ----------------------
// ----------------------------------------

.navigation-container {
    background: $theme-colour;
    a {
        border-left: 1px solid $d-theme;
        border-right: 1px solid $l-theme;
        color: $main-colour;
    }
}