
// Blocks Styles --------------------------
// ----------------------------------------

#block-container, .locations {
    @include colours($background: $main-colour);
    .block {
        @include colours($background: $main-colour);
        @include borders($border: 1px solid #ccc, $border-radius: 3px);
        text-align: center;
        font-size: $xxxs-font;
        &-logo {
            color: #fff;
        }
    }
    .block:hover {
        @include colours($colour: $main-colour);
        > .block-bar, .block-logo, .block-btn {
            @include colours($background: $main-colour);
        }
    }
}
.block-btn {
    @include borders($border: none, $border-radius: 4px);
    @include colours($colour: $main-colour);
}