
// Slider Buttons -------------------------
// ----------------------------------------

.arrow-btn {
    display: inline-block;
    @include sizing($height: 5vh);
    button,
    button * {
        display: inline-block;
        @include sizing($margin: auto);
    }
    button {
        @include sizing($height: 100%);
        &.slide-btn {
            height: 3.875rem;
        }
        i {
            margin: 0 0 0 .75rem;
        }
    }
}