
// Slider Layout --------------------------
// ----------------------------------------
#img-slider,
.slide-img {
    @include sizing($height: calc(100vh - 167.94px));
}
.slide-img-container {
    background-image: linear-gradient(90deg, rgba(3, 3, 3, 1), rgba(0, 0, 0, 0)), url('https://www.netmatters.co.uk/assets/images/thumbnails/full_height_slideshow/home-3wAI.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    @include sizing($height: 100%, $width: 100%);
    position: relative;
    text-align: center;
    .inner-slide {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 15px;
        max-width: 750px;
        width: 100%;
        margin: 0 auto;
        h2 {
            @include sizing($margin: 0 0 15px 0);
        }
        > p {
            @include sizing($margin: 0 0 35px 0);
        }
    }
}
.slide-img {
    @include sizing($width: 100%);
}
.slide-btn {
    display: inline;
    font-size: $m-font;
    padding: 5px 20px;
}