
// Slider Styles --------------------------
// ----------------------------------------

.slide-img-container {
    @include colours($colour: $main-colour);
    .inner-slide h2 {
        font-size: $xxxl-font;
        font-weight: normal;
    }
    .inner-slide > p {
        font-size: $m-font;
    }
    .web-img-btn {
        @include colours($colour: $main-colour, $background: $web-training-colour);
        &:hover {
            @include colours($background: darken($web-training-colour, 10%));
        }
    }
}
.arrow-btn button {
    @include borders($border: none, $border-radius: 4px);
}